.element1 {
	background-color: orange;
}
.element2 {
	background-color: blue;
}
.element3 {
	background-color: green;
}

#conteneur {
	display: flex; /* first exercise */
	flex-direction: column; /* second exercise */
}